.form-group{
    margin: 10px 0;
    border-radius: 5px;
}
.form-group select{
    box-sizing: border-box;
    display: inline;
    width: auto;
}
.form-control{
    width: auto;
    margin: 0 10px;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-label{
    margin-left: 10px;
}
.mt-40{
    margin-top: 40px;
}

.flex{
    display: flex;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.form-group{
    width: auto;
}

.btn{
    display: inline-block;
    margin: 0 30px 0 10px;
}

form{
    display: flex;
    align-items: center;
}

.navbar{
    flex: none;
    display: block;
    overflow: hidden;
    height: 64px;
    line-height: 64px;
    color: #fff;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

.nav-pills{
    display: flex;
    align-items: center;
    float: right;
    padding: 0;
    margin: 0;
}
.nav_item{
    margin: 0 15px;
    transition: color .3s ;
}
.navbar-brand{
    color: inherit !important;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
.bg-custom{
    background-color: #2980b9 !important;
}

.start{
    margin-right: 5px;
}



.articles__header{
    background-color: #cecece;
}

.articles__header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
}

.nav_item:hover{
    text-decoration: none;
    color: rgb(73, 19, 19);
}

h1{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}
.article-ref{
    font-size: 20px;
    font-weight: 500;
    color: #2980b9;
}

tbody a{
    padding: 0 5px;
    color: black;
    transition: color .3s;
}
tbody a:hover{
    color: #2980b9;
}